[switches:children]
[% FOREACH key IN switches.keys %]switch_[% key %]
[% END %]

[% FOREACH key IN switches.keys %][switch_[% key %]]
switch_[% key %] ansible_host=[% switches.$key.id %]

[% END %]

[% FOREACH key IN switches.keys %][switch_[% key %]:vars]
[% SWITCH switches.$key.ansible_network_os %]
[% CASE 'cisco.ios.ios' %]ansible_become=yes
ansible_become_method=enable
ansible_become_pass="[% switches.$key.cliEnablePwd %]"
ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_user=[% switches.$key.cliUser %]
ansible_password="[% switches.$key.cliPwd %]"
ansible_connection=ansible.netcommon.network_cli
acl_config=[% key %].cfg
[% CASE 'aireos' %]ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_user=[% switches.$key.cliUser %]
ansible_password="[% switches.$key.cliPwd %]"
ansible_connection=ansible.netcommon.network_cli
acl_config=[% key %].cfg
[% CASE 'cisco.asa' %]ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_user=[% switches.$key.cliUser %]
ansible_password="[% switches.$key.cliPwd %]"
ansible_connection=ansible.netcommon.network_cli
acl_config=[% key %].cfg
[% CASE 'arubanetworks.aoscx.aoscx' %]ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_user=[% switches.$key.cliUser %]
ansible_password="[% switches.$key.cliPwd %]"
ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_connection=ansible.netcommon.network_cli
ansible_aoscx_validate_certs=False
acl_config=[% key %].cfg
[% CASE 'cisco.meraki' %]ansible_network_os=[% switches.$key.ansible_network_os %]
meraki_api_key=[% switches.$key.wsPwd %]
meraki_base_url= "https://api.meraki.com/api/v1"
meraki_single_request_timeout= "meraki_single_request_timeout"
meraki_certificate_path= "meraki_certificate_path"
meraki_requests_proxy= "meraki_requests_proxy"
meraki_wait_on_rate_limit= "meraki_wait_on_rate_limit"
meraki_nginx_429_retry_wait_time= "meraki_nginx_429_retry_wait_time"
meraki_action_batch_retry_wait_time= "meraki_action_batch_retry_wait_time"
meraki_retry_4xx_error= "meraki_retry_4xx_error"
meraki_retry_4xx_error_wait_time= "meraki_retry_4xx_error_wait_time"
meraki_maximum_retries= "meraki_maximum_retries"
meraki_output_log= "meraki_output_log"
meraki_log_file_prefix= "meraki_log_file_prefix"
meraki_log_path= "meraki_log_path"
meraki_print_console= "meraki_print_console"
meraki_suppress_logging= "meraki_suppress_logging"
meraki_simulate= "meraki_simulate"
meraki_be_geo_id= "meraki_be_geo_id"
meraki_use_iterator_for_get_pages= "meraki_use_iterator_for_get_pages"
meraki_inherit_logging_config= "meraki_inherit_logging_config"
[% END %]

[% END %]
